* {
    font-family: 'Old Standard TT', serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  margin: 0px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

h1 {
  margin: 26px;
  padding: 5px;
  display: flex;
  justify-content: center;
  border: black solid 1px;
  background-color: #C5DCA0;
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  border: black solid 1px;
  margin: 9px;
  padding: 10px;
  background-color: #C5DCA0;
}

h5 {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-size: 19px;
}

h6 {
  font-size: 22px;
  margin: 20px;
}

form {
  display: flex;
}

img {
  height: 125%;
  width: 100%;
  object-fit: cover;
}

.login-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87vh;
  width: 100vw;
}

.login-container {
  display: flex;
  height: 50vh;
  width: 30vw;
  border: black solid 2px;
  background: white;
  color: black;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  margin: 203px;
  padding: 20px;
  position: absolute;
  opacity: 94%;
}

.login-title {
  border: black solid 2px;
  padding: 13px;
  background-color: #C5DCA0;
}

.login-btn, .show-rooms-btn, .available-room-btn, .submit-booking-btn {
  background-color: #E3F2FD;
  padding: 10px;
}

.show-rooms-btn {
  margin-left: 195px;
  margin-top: 12px;
}

.show-booking-info {
  padding: 16px;
}

.submit-booking-btn {
  margin-left: 207px;
}

.date-error {
  color: red;
}

.room-filter {
  padding: 9px;
}

.username-text, .password-text {
  font-size: 25px;
}

.password, .username {
  font-size: 20px;
  background-color: white;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
  height: 85vh;
}

.welcome-message-container {
  display: flex;
  justify-content: center;
  margin: 16px;
  font-size: 22px;
}

.cost-container {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.reservations-container,
.book-container {
  height: 85vh;
  width: 36vw;
  border: black solid 1px;
}

.booking-card {
  width: 30vw;
  border: black solid 2px;
  padding: 15px;
  margin: 15px;
  height: 23vh;
  width: 26vw;
}

.customer-reservations-container {
  height: 78vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.show-available-rooms-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  height: 72vh;
  width: 29vw;
}

.available-room {
  padding: 5px;
  height: 20vh;
  width: 12vw;
}

.available-room-btn {
  height: 20vh;
  width: 12vw;
}

.login-error-message {
  color: red;
}

.book-container {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
