* {
    font-family: 'Old Standard TT', serif;
}

body {
  background: white;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  margin: 0px;
  /* background-size: cover;
  height: 100vh;
  width: 100vw; */
}

h1 {
  margin: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  border: black solid 1px;
  background-color: #C5DCA0;
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  border: black solid 1px;
  margin: 15px;
  padding: 5px;
  background-color: #C5DCA0;
}

h5 {
  display: flex;
  justify-content: center;
  margin: 70px;
}

/* main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100%;
} */

/* not centered  */

form {
  display: flex;
}
/* .book-container,
.total-cost-container {
    position: fixed;
}

.book-container {
  float: left;
} */
.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
  height: 85vh;
}

/* .header-container {
  display: flex;
  z-index: 9;
  justify-content: space-around;
} */

.reservations-container,
.cost-container,
.book-container {
  height: 85vh;
  width: 30vw;
  border: black solid 1px;
}

.booking-card {
  width: 30vw;
  border: black solid 2px;
  padding: 15px;
  margin: 15px;
  height: 23vh;
  width: 26vw;
}

.customer-reservations-container {
  height: 78vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.show-available-rooms-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  height: 74vh;
}

.available-room {
  padding: 10px;
  height: 20vh;
  width: 20vw;
}



/* scrollbar within the container:  */
/* container::-webkit-scrollbar */

/* .total-cost-container {
  margin-left: 700px;
} */

.book-container {
  display: flex;
  flex-direction: column;
  /* margin: 40px; */
}

/* .show-available-rooms-section {
  display: flex;
  overflow-y: scroll;
  position: absolute;
  height: 80%;
} */

.hidden {
  display: none;
}
